.modal-container{
    position: relative;
    padding: 30px;
    width: 30%;
    background: #FFFFFF;
    border: 0.5px solid #E0E0E0;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


form.form-add-coloc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input,form textarea{
    width: calc(100% - 60px);
    padding: 20px 30px;
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 400;
}

*:focus{
    outline: none;
}
textarea{
    margin-top: 20px;
    margin-bottom: 40px;
    height: 168px;
    resize: none;
}

.title-add-user{
    margin-bottom: 16px;
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
}

.form-add-coloc button{
   margin-top:39px;
}

.close-icon{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}