body{
    margin: 0;
}

.page{
    background-color: white;
}
.vh-100{
    height: auto;
    min-height: 100vh;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    display: block;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

input, textarea, select{
    width: auto;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 17px;
    padding: 17px 23px;
}

.fields-column{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fields-row{
    display: flex;
}


@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    .fields-row{
        flex-direction: column;
    }
    input, textarea, select{
        border-radius: 15px;
        padding: 15px 20px;
        width: auto;
    }
}