@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

h1, h2, h3, h4, h5{
    font-family: Satoshi, sans-serif;
    font-weight: 700;
    color: #2F0029;
    line-height: 1.1em;
}

h1{
    font-size: 55px;
    line-height: 1.3em;
}

h2{
    font-size: 30px;
}
h2.satoshi-reg{
    font-weight: 400;
}

.modale h2{
    font-size: 45px;
}
.modale h3{
    font-size: 22px;
    font-weight: 600;
}

.title-regular{
    font-weight: 400;
}



p, ul {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.3em;
    color: #2F0029;
    font-size: 16px;
}

p.satoshi{
    font-family: Satoshi, sans-serif;
}
p.satoshi-bold{
    font-family: Satoshi, sans-serif;
    font-weight: 700;
}

p.price{
    font-family: Satoshi, sans-serif;
    font-weight: 700;
}

p.para-15{font-size: 15px;}
p.para-16{font-size: 16px;}
p.para-18{font-size: 18px;}
p.para-20{font-size: 20px;}
p.para-22{font-size: 22px;}
p.para-24{font-size: 24px;}
p.para-26{font-size: 26px;}
p.para-30{font-size: 30px;}
p.para-105{font-size: 85px;}

p.medium{font-weight: 500;}
p.bold{font-weight: 600;}

p.red{color: #BF0000;}
p.green{color: #009D23;}



input, textarea, select{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1em;
    color: #2D2D2D;
    font-size: 16px;
}

.text-center{
    text-align: center;
}

@media screen and (max-width: 1024px){
    h1{font-size: 40px;}
    h2{font-size: 22px;}
    .modale h2{font-size: 35px;}
    .modale h3{font-size: 18px;}
    p.para-15{font-size: 15px;}
    p.para-16{font-size: 16px;}
    p.para-18{font-size: 18px;}
    p.para-20{font-size: 20px;}
    p.para-22{font-size: 22px;}
    p.para-24{font-size: 24px;}
    p.para-26{font-size: 26px;}
    p.para-30{font-size: 30px;}
    p.para-105{font-size: 70px;}
    input{font-size: 16px;}
}

@media screen and (max-width: 768px){
    h1{font-size: 30px;}
    h2{font-size: 22px;}
    .modale h2{font-size: 35px;}
    .modale h3{font-size: 18px;}
    p.para-15{font-size: 15px;}
    p.para-16{font-size: 14px;}
    p.para-18{font-size: 16px;}
    p.para-20{font-size: 16px;}
    p.para-24{font-size: 18px;}
    p.para-22{font-size: 18px;}
    p.para-26{font-size: 20px;}
    p.para-30{font-size: 22px;}
    p.para-105{font-size: 60px;}
    input{font-size: 16px;}
}