.navbar-toggle {
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
}

.navbar-toggle .menu-box{
    background: linear-gradient(258.49deg, #FF51EB 1.12%, #EDE342 94.62%);
    border-radius: 90px;
}

.navbar-toggle .menu{
    display: flex;
    padding: 6px;
    margin: 0;
}
.navbar-toggle .menu li{
    list-style: none;
}

.navbar-toggle .menu a{
    display: flex;
    text-decoration: none;
    font-size: 22px;
    color: #2F0029;
    font-weight: 600;
    font-family: Satoshi, sans-serif;
    border-radius: 90px;
    padding: 12px 20px;
}
.navbar-toggle .menu a.active{
    background: white;
}



.navbar-toggle .icon-participants{
    border-radius: 90px;
    width: 65px;
    height: 65px;
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translate(100%, -50%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navbar-toggle .icon-participants:hover{
    box-shadow: 0px 5px 20px rgb(0 0 0 / 8%);
}
.navbar-toggle .icon-participants img{
    width: 100%;
}

@media screen and (max-width: 728px) {
    .navbar-toggle {
        margin: 0 0 30px 5%;
    }
    .navbar-toggle .menu a {
        font-size: 16px;
        padding: 10px 16px;
    }

    .navbar-toggle .icon-participants {
        width: 50px;
        height: 50px;
        right: -15px;
    }
}