.container{
    min-height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1{
    font-size: 55px;
    color: #2F0029;
}
.container-all-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 66px;
    margin-top: 80px;
    margin-bottom: 46px;
}
