.modale-profile .box-model{
    width: 45%;
}
.modale-profile .box-model h2{
    margin: 0 auto 30px;
}

.modale-profile .fields-column.field-title{
    gap: 13px;
    margin-bottom: 40px;
}



.modale-profile .icon-modif-profil{
    width: 23px;
    height: 23px;
    cursor: pointer;
}
.modale-profile .icon-modif-profil img{
    width: 100%;
}


.modale-profile .image-mon-profile{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 90px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 9px;
}
.modale-profile .image-mon-profile .overlay-photo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale-profile .form-image{
    margin-bottom: 23px;
}



.modale-profile .pseudo-mon-profile{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.modale-profile .form-pseudo{
    margin-bottom: 33px;
}



.modale-profile .email-mon-profile {
    margin-bottom: 30px;
}
.modale-profile .email-mon-profile h3{
    margin-bottom: 6px;
}




.modale-profile .password-mon-profile{
    margin-bottom: 30px;
}
.modale-profile .password-mon-profile h3{
    margin-bottom: 6px;
}
.modale-profile .password-mon-profile .bloc-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.modale-profile .form-password .fields-column {
    gap: 15px;
}



.modale-profile .link {
    margin-top: 15px;
}


@media screen and (max-width: 1024px){
    .modale-profile .box-model {
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    .modale-profile .box-model {
        width: 90%;
    }
}

