.modale-add-coloc .box-model{
    width: 45%;
}
.modale-add-coloc .box-model h2{
    max-width: 400px;
    margin: 0 auto 30px;
}

.modale-add-coloc .fields-column.two-fields{
    gap: 20px;
    margin-bottom: 40px;
}
.modale-add-coloc .fields-column.field-title{
    gap: 13px;
    margin-bottom: 40px;
}

.modale-add-coloc textarea{
    height: 100px;
}