.modale-remboursement-depense .modale-remboursement-depense-container{
    width: 70%;
    max-width: 1400px;
}

.modale-remboursement-depense h2{
    margin-bottom: 40px;
}
.modale-remboursement-depense h3{
    margin-bottom: 10px;
}

.modale-remboursement-depense form > .fields-column{
    gap: 30px;
    margin-bottom: 30px;
}
.modale-remboursement-depense form .fields-row{
    gap: 20px;
}


@media screen and (max-width: 1024px){


}

@media screen and (max-width: 728px){

}