.page-depenses .depenses-container{
    width: 70%;
    max-width: 1100px;
    margin: 0 auto 60px;
}

.page-depenses h1{
    margin-bottom: 40px;
}
.page-depenses .btn-add-depense{
    margin: 0 0 30px;
}

.page-depenses .depenses-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.page-depenses .box-model{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.page-depenses .box-model:hover{
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.02);
    transform: translateY(-2px);
}

.page-depenses .box-model .option-text{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}


.page-depenses .depenses-list .para-20{
    width: 50%;
}
.page-depenses .depenses-list .para-16{
    width: 40%;
}

.page-depenses .depense-price{
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
    width: 22%;
    justify-content: flex-end;
}

.page-depenses .depense-price .option-box{
    position: absolute;
    top: 0;
    right: -15px;
    transform: translateX(100%);
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    padding: 20px 30px;
    border-radius: 15px;
    flex-direction: column;
    gap: 10px;
    display: none;
}
.page-depenses .depense-price .option-box.active{
    display: flex;
}

.page-depenses .depense-price .option-box p:last-child{
    color: #BF0000;
    font-weight: 600;
}

.page-depenses .image-option{
    display: flex;
    cursor: pointer;
    padding: 0 5px;
}



@media screen and (max-width: 1024px){
    .page-depenses .depenses-container{
        width: 90%;
    }
    .page-depenses .depense-price .option-box {
        transform: translateX(0);
        right: 20px;
    }
}

@media screen and (max-width: 728px){
    .page-depenses h1 {
        margin-bottom: 30px;
    }
    .page-depenses .depenses-cards {
        margin-bottom: 30px;
        flex-direction: column;
        row-gap: 25px;
    }
    .page-depenses .box-model {
        padding: 12px 20px;
        gap: 20px;
    }
    .page-depenses .depense-price {
        gap: 4px;
    }

    .page-depenses .depenses-list .option-text p {
        width: 100%;
    }

    .page-depenses .depenses-list .para-16 {
        font-size: 13px;
    }
    .page-depenses .box-model .option-text {
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .page-depenses .depense-price .option-box {
        padding: 15px 20px;
        border-radius: 10px;
        gap: 5px;
    }
}