.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 66px);
    padding-left: 66px;
    font-size: 18px;
    font-weight: 700;
}

.my-account,a,a:visited{
    color: #2F0029;
    text-decoration: none;
    cursor: pointer;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.02);
    border-radius: 0px 0px 0px 20px;
    border: 0.5px solid #D9D9D9;
}