.container-component{
    background-image: url('../../image/backgroundSecurity.svg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    font-weight: 400;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title span{
    background: -webkit-linear-gradient(#FF51EB, #EDE342);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container-form{
    background-color: white;
    border: 0.5px solid #E0E0E0;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px;
    margin-top: 32px;
    margin-bottom: 43px;
}

h2{
    color:#2F0029;
    font-weight: 700;
    font-size: 55px;
}

form{
    margin: 39px 0;
    width: 100%;
}
.login form{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.register form{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content:center;
}

.login input{
    max-width: 100%;
}
.register input{
    width: 100%;
}
.register input,.login input{
    display: flex;
    flex: 40%;
    padding: 20px 30px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    font-size: 20px;
    width: 100%;
}

.link{
    font-size: 16px;
    color: #2D2D2D;
}

.link a,.link a:visited{
    color: #2D2D2D;
    text-decoration: none;
    position: relative;
}

.link a::before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(258.49deg, #FF51EB 1.12%, #EDE342 94.62%);
}